<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <script type="text/javascript" src=""></script>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}">

    <title>Flask Attempt! 👌</title>


    {% block head %}{% endblock %}

  </head>
  <body>
    {% block body %}{% endblock %}
    <header>
      <h1></h1>
      <nav>
      </nav>
    </header>
    <main>
      <h2></h2>
    </main>
    <footer>
      <address>
      </address>
    </footer>
  </body>
</html>
